<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block layout:fragment="configFragment">

    <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-theme.min.css}"></link>

    <link rel="stylesheet" th:href="@{alopexui/css/alopex-ui.css}"></link>
    <link rel="stylesheet" th:href="@{alopexui/css/alopex-grid.css}"></link>
    <link rel="stylesheet" th:href="@{css/common/common.css}"></link>

    <script th:src="@{alopexui/script/jquery-3.5.1.min.js}"></script>

    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{alopexui/script/alopex-ui.js}"></script>
    <script th:src="@{alopexui/script/alopex-grid.min.js}"></script>
    <script th:src="@{alopexui/script/alopex-grid-render.js}"></script>
    <script th:src="@{js/common/common.js}"></script>

    <!-- Content Page의 CSS fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>

    <!-- Content Page의 script fragment 삽입 -->
    <th:block layout:fragment="script"></th:block>

</th:block>
</html>